@mixin flex_container($gap: 20px)
  display: flex
  column-gap: $gap
  align-items: center

@mixin flex_container_column($gap: 20px)
  display: flex
  flex-direction: column
  row-gap: $gap

$font_size_default: 20px

.todos_container
  padding: 20px
  @include flex_container_column(10px)

.main_todo_container
  display: flex

.todo_container
  @include flex_container_column(10px)
  border: 2px darkslategray solid
  background: white
  flex-grow: 1
  padding: 20px
input
  height: 20px
  font-size: $font_size_default
  padding: 2px
  &:disabled
    cursor: not-allowed

.completed
  text-decoration: line-through

.date_container
  @include flex_container
  font-size: $font_size_default

.container
  display: flex
  width: 100%
  justify-content: space-between

.block_none
  display: none
.add_date, .add_subtask
  @include flex_container

.subtasks
  padding-left: 10px
  font-size: $font_size_default

.subtask
  @include flex_container(10px)

.delete
  width: 50px
  border: 2px darkslategray solid
  background: #4d8d8d
  transition: all 1s
  &:hover
    width: 100px

@media (max-width: 850px)
  .todo_tools
    flex-direction: column
    align-items: flex-start
    row-gap: 10px

.wrong
  color: #c72d2d
  align-self: center