.container
  display: flex
  flex-direction: column
  padding: 20px
  row-gap: 10px

.todo
  display: flex
  height: 40px
  align-items: center
  justify-content: space-between
  font-size: 25px

.todo_container
  border: 2px darkslategray solid
  display: flex
  flex-direction: column
  padding: 20px
input
  height: 20px
  font-size: 20px
  padding: 5px
  &:disabled
    cursor: not-allowed
.add
  align-self: center
  display: flex
  flex-direction: column
  row-gap: 20px
  border: 2px darkslategray solid
  padding: 20px
.completed
  text-decoration: line-through

.date_container
  display: flex
  column-gap: 15px
.date
  display: flex
  column-gap: 5px

.completed, .not_completed
  max-width: 500px
  //font-weight: 500

.completed_check
  align-self: center

.todo_input
  display: flex
  column-gap: 30px

.add_date
  display: flex
  column-gap: 30px

.subtasks
  font-size: 20px
  padding-left: 30px
  width: 300px

.subtask
  display: flex
  align-items: center
  column-gap: 10px

