.App, html, body, #root
  height: 100%
.App
  display: flex
  flex-direction: column
header
  background: cadetblue
  padding: 20px
  height: 50px
  display: flex
  justify-content: space-between

::-webkit-scrollbar
  width: 0
.body
  margin: 20px 200px
  flex-grow: 1
  background: rgba(77, 141, 141, 0.24)
@media (max-width: 1160px)
  .body
    margin: 20px
footer
  background: #4d8d8d
  padding: 30px